/* indica el estilo css de la página html */
html {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
}
/* indican los estilos genéricos para toda la página web (que los padding pasen a ser el width de los div y que no sea aparte) */
* {
    box-sizing: border-box;
}
/* indica el estilo css del body */
body {
    margin: 0;
    margin-bottom: 130px;
}
/* indica el estilo css del encabezado de la pagina */
header {
    height: 106vh;
    background-image: url("./../img/banner-2.jpg");
    background-size: cover;
    position: relative;
}
/* indica el estilo css de los div que se encuentran dentro del encabezado */
header div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* indica el estilo css de todos los elementos p de los div que se encuentran dentro del encabezado */
header div p {
    font-size: 2.7rem;
    text-align: center; 
}
/* indica el estilo css de todas las filas de la pagina */
.row2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/* indica el estilo css de la primera y tercera fila y el footer (se divide la fila en 2 columnas) */
.column-2 {
    width: 50%;
}
/* indica el estilo css utilizado en algunas partes de la pagina (da un margin a la izquierda) */
.marginleft {
    margin-left: 17%;
}
/* indica el estilo css de algunos titulos de la pagina */
.textotitulos {
    font-size: 1.7rem;
}
/* indica el estilo css de algunos contenido de la pagina */
.textocontenido {
    font-size: 1.2rem;
    font-weight: normal;
}
/* indica el estilo css de un width concreto a las imagenes de la primera sección o fila */
.widthimgsec1 {
    width: 90%;
}
/* indica el estilo css de la segunda sección o fila */
.sec2 {
    background-color: rgb(41, 211, 106);
    justify-content: center;
}
/* indica el estilo css de algunos titulos de la pagina */
.colproy {
    width: 100%;
}
/* indica el estilo css de algunos titulos de la pagina */
.tituloproy2 {
    text-align: center;
    font-size: 1.8rem;
}
/* indica el estilo css de la segunda fila (se divide la fila en 4 columnas) */
.column-4 {
    width: 20%;
}
/* indica el estilo css de algunos contenidos de la pagina */
.textotitulos2 {
    font-size: 0.5rem;
    text-align: center;
}
/* indica el estilo css de las imagenes de la segunda sección */
.widthimgsec2 {
    width: 90%;
    margin-left: 7%;
    margin-top: 15%;
}
/* indica el estilo css de la cuarta fila */
.column-4-1 {
    width: 25%;
}
/* indica el estilo css de las imagenes de la cuarta fila */
.widthimgsec4 {
    width: 100%;
}
/* indica el estilo css de la quinta sección o fila */
.sec5 {
    background-color: rgb(78, 140, 211);
    margin-top: -5%;
}
/* indica el estilo css del titulo de la quinta sección */
.tituloproy5 {
    text-align: center;
    font-size: 2rem;
}
/* indica el estilo del footer */
footer {
	background-color: black;
	padding: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
    color: white;
    font-size: 0.4rem;
    font-weight: normal;
}
/* indican las media queries */
@media screen and (max-width: 700px) {
    /* indica la media query del body */
    body {
        margin-bottom: 220px;
    }
    /* indica la media query de todos los elementos p de los div que se encuentran dentro del encabezado */
    header div p {
        font-size: 1.7rem;
    }
    /* indica la media query de algunos titulos de la pagina */
    .textotitulos {
        font-size: 1rem;
    }
    /* indica la media query de algunos contenido de la pagina */
    .textocontenido {
        font-size: 0.7rem;
    }
    /* indica la media query de un width concreto a las imagenes de la primera sección o fila */
    .widthimgsec1 {
        width: 100%;
    }
    /* indica la media query de algunos titulos de la pagina */
    .tituloproy2 {
        font-size: 1.3rem;
    }
    /* indica la media query de la primera y tercera fila y el footer */
    .column-2 {
        width: 100%;
    }
    /* indica la media query utilizado en algunas partes de la pagina */
    .marginleft {
        margin-left: 10%;
    }
        /* indica la media query utilizado en algunas partes de la pagina */
    .marginleft2 {
        margin-left: 10%;
    }
    /* indica la media query de la segunda fila */
    .column-4 {
        width: 50%;
    }
    /* indica la media query de la cuarta fila */
    .column-4-1 {
        width: 50%;
        margin-top: -2%;
    }
    /* indica la media query del titulo de la quinta sección */
    .tituloproy5 {
        font-size: 1rem;
    }
}